<div class="container">
  <app-header title="About Morocco" />
  <div class="grid-item video-container">
    <iframe class="video" src="https://www.youtube.com/embed/z6sk-ujcca4" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
    <div class="section-category">
      <div class="section-item bg-1" routerLink="submission"><span>Program and Registration</span></div>
      <div class="section-item bg-2" routerLink="program"><span>Venue and Accomodation</span></div>
      <div class="section-item bg-3" routerLink="sponsors"><span>Sponsors and Exhibitors</span></div>
    </div>
  </div>
  