<div class="form-container">
  <form action="">
    <div class="input-container">
      <label for="">first Name</label
      ><input type="text" placeholder="enter your first name" />
    </div>
    <div class="input-container">
      <label for="">last Name</label
      ><input type="text" placeholder="enter your last name" />
    </div>
    <div class="input-container">
      <label for="">email</label
      ><input type="email" placeholder="enter your email" />
    </div>
    <div class="input-container">
      <label for=""> Phone Number</label><input type="tel" />
    </div>
    <div class="input-container">
      <label for="">city</label>
      <select name="cities" id="cities">
        <option value="Rabat" selected>rabat</option>
        <option value="Casablanca">Casablanca</option>
        <option value="Tanger">Tanger</option>
        <option value="Marakech">Marakech</option>
        <option value="Fez">Fez</option>
        <option value="Agadir">Agadir</option>
      </select>
    </div>

    <div class="input-container">
      <label for="">Number of Capsules</label><input type="number" value="1" />
    </div>
    <div class="input-container">
      <label for="">Date</label><input type="date" value="1" />
    </div>
    <div class="input-container">
      <label for="">Time</label><input type="time" value="1" />
    </div>
    <div class="input-container">
      <label for="">with bagage</label>
      <input name="bagage" id="yes" type="radio" value="yes" />
      <input name="bagage" id="no" type="radio" value="no"/>
    </div>
    <div class="input-container">
      <label for="">price per room</label><input type="text" value="100 dh" />
    </div>

    <div class="button-container"><button>reserve</button></div>
  </form>
</div>
