<app-scaffold [sectionsInfo]="secIds" [breadCrumbLinkNames]="breadCrumbLinkNames" [title]="'Sponsors and Exhibitors'"
    [headerBackgroundImage]="'../../assets/head/spon.jpg'">
    <div id="sec1">
        <h1>{{secIds[0].title}}</h1>
        <div class="container">
            <div class="img-container">
                <a href="http://ensam.um5.ac.ma/">
                    <img src="/assets/sponsors/ensam.png" alt="">
                </a>
            </div>
            <div class="img-container">
                <div class="img-container ensam">
                    <a href="http://www.um5.ac.ma/um5/">
                        <img src="/assets/sponsors/um52.png" alt="">
                    </a>
                </div>
                <div class="img-container">
                    <a href="">
                        <img src="/assets/sponsors/Orange-Logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

</app-scaffold>