<app-scaffold [sectionsInfo]="secIds" [breadCrumbLinkNames]="breadCrumbLinkNames" [title]="'Sponsors and Exhibitors'"
    [headerBackgroundImage]="'../../assets/head/spon.jpg'">
    <div id="sec1">
        <h1>{{secIds[0].title}}</h1>
        <div class="container">
            <div class="img-container">
                <a href="">
                    <img src="https://www.ifac2023.org/media/001/202302/logo-ifac.svg" alt="">
                </a>
            </div>
            <div class="img-container">
                <div class="img-container ensam">
                    <a href="http://www.um5.ac.ma/um5/">
                        <img src="/assets/sponsors/um52.png" alt="">
                    </a>
                </div>
                <div class="img-container">
                    <a href="">
                        <img src="/assets/sponsors/Logo-SAGIP.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="sec2">
        <h1>{{secIds[1].title}}</h1>
        <div class="container">
            <div class="img-container">
                <a href="http://ensam.um5.ac.ma/">
                    <img src="/assets/sponsors/ensam.png" alt="">
                </a>
            </div>
            <div class="img-container">
                <a href="https://www.unicaen.fr/">
                    <img src="/assets/sponsors/caen.png" alt="">
                </a>
            </div>
            <!-- <div class="img-container">
                <a href="https://www.unicaen.fr/">
                    <img src="/assets/sponsors/iresen.jpeg" alt="">
                </a>
            </div> -->
        </div>
    </div>
    <div id="sec3">
        <h1>{{secIds[2].title}}</h1>
        <p class="toBeDone">to be done ...</p>
        <!-- <div class="container">
            <div class="img-container">
                <a href="https://www.cnrst.ma/fr/">
                    <img src="/assets/sponsors/cnrst.jpg" alt="">
                    <p>National Center for Scientific and Technical Research </p>
                </a>
            </div>
            <div class="img-container">
                <a href="https://www.unicaen.fr/">
                    <img src="/assets/sponsors/logo.jpg" alt="">
                    <p>Rabat Regional Council
                    </p>
                </a>
            </div>
            <div class="img-container">
                <a href="https://www.unicaen.fr/">
                    <img src="/assets/sponsors/logo2.png" alt="">
                    <p>
                        Rabat Municipality Council
                    </p>
                </a>
            </div>
            <div class="img-container">
                <a href="https://www.unicaen.fr/">
                    <img src="/assets/sponsors/iresen.jpeg" alt="">
                    <p>Institute for Research in Solar Energy and New Energies (IRISEN)
                    </p>
                </a>
            </div>
        </div> -->
    </div>
    <div id="sec4">
        <h1>{{secIds[3].title}}</h1>
        <p class="toBeDone">to be done ...</p>
        <!-- <div class="container">
            <div class="img-container">
                <a href="https://www.cnrst.ma/fr/">
                    <img src="/assets/sponsors/cnrst.jpg" alt="">
                    <p>National Center for Scientific and Technical Research </p>
                </a>
            </div>
            <div class="img-container">
                <a href="https://www.unicaen.fr/">
                    <img src="/assets/sponsors/logo.jpg" alt="">
                    <p>Rabat Regional Council
                    </p>
                </a>
            </div>
            <div class="img-container">
                <a href="https://www.unicaen.fr/">
                    <img src="/assets/sponsors/logo2.png" alt="">
                    <p>
                        Rabat Municipality Council
                    </p>
                </a>
            </div>
            <div class="img-container">
                <a href="https://www.unicaen.fr/">
                    <img src="/assets/sponsors/iresen.jpeg" alt="">
                    <p>Institute for Research in Solar Energy and New Energies (IRISEN)
                    </p>
                </a>
            </div>
        </div> -->
    </div>

</app-scaffold>