<div class="conatainer-travel">
  <div class="header">
    <div class="container-head-data"></div>
    <div class="img-head"></div>
    <div class="container-title">
      <h1 class="title">Venue, Travel and Tours</h1>
    </div>
  </div>
  <div id="sec3" class="conatainer-section">
    <div class="flex-img">
      <div class="container-text">
        <div class="head-container">
          <h2>Location of the matchs</h2>
          <!-- <span class="sub-title">CPES 2024</span> -->
        </div>
        <p class="txt-red txt-lg">
          Out of the planned 30 matches, a total of 10 football matches are
          slated to take place at the Amir Abdelkader Stadium in Rabat. This
          renowned stadium, steeped in football history, will serve as the
          battleground for these exciting matchups. Football enthusiasts can
          anticipate a display of skill, teamwork, and fervor as teams compete
          in this prestigious venue. The Amir Abdelkader Stadium's iconic
          atmosphere and state-of-the-art facilities are poised to enhance the
          footballing experience for both players and fans alike during these 10
          eagerly anticipated football matches.
        </p>
        <div class="txt-red txt-lg info-container">
          <div class="info">
            <i class="fas fa-globe-americas"></i>
            Country: <span id="country">Morocco</span>
          </div>

          <div class="info">
            <i class="fas fa-city"></i>
            City: <span id="city"> Rabat</span>
          </div>

          <div class="info">
            <i class="fas fa-map-marked-alt"></i>
            Postal Code: <span id="postal-code">10100</span>
          </div>
          <div class="info">
            <i class="fas fa-map-marked-alt"></i>
            venue<span id="postal-code">
              staium al amir moulay abdellah,st des Hassan II
            </span>
          </div>
        </div>
      </div>
      <img src="/assets//travel_tours/map.jpg" alt="map" class="img hayriad-img" />
    </div>

    <div class="flex-img-column-center" id="sec1">
      <h2>CIM Venue</h2>
      <p class="txt-full-width">
        The Moulay Abdellah Stadium will host several matches of the CAF Africa Cup of Nations (CAN
      </p>
      <div class="img-container">
        <div class="container">
          <img src="/assets/travel_tours/stad1.jpg" alt="stadium" />
          <p class="text">stadium</p>
        </div>

        <div class="container">
          <img src="/assets/travel_tours/stad2.avif" alt="stadium" />
          <p class="text">stadium</p>
        </div>

        <div class="container">
          <img src="/assets/travel_tours/stad4.jpg_large" alt="stadium" />
          <p class="text">stadium</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="sec4" class="conatainer-section img-big">
    <p class="txt-lg"></p>

    <div class="flex-img-column-center">
      <h2>Symposium Meeting Rooms</h2>

      <p class="txt-full-width">
        ICESCO modern meeting and board rooms with modulable capacity,
        supporting various table layouts, and language simultaneous interpreting
        system
      </p>
      <div class="img-container">
        <div class="container">
          <img
            src="/assets/travel_tours/ICESCO-room.jpg"
            alt="map"
            class="img"
          />
        </div>
      </div>

      <p class="txt-full-width">ENSAM AMPHITHEATER</p>
      <div class="img-container">
        <div class="container">
          <img
            src="/assets/travel_tours/ensam-room.jpg"
            alt="ensam"
            class="img"
          />
        </div>
      </div>

      <p class="txt-full-width">CNRST AMPHITHEATER</p>

      <div class="img-container">
        <div class="container">
          <img
            src="/assets/travel_tours/ensam-room2.jpg"
            alt="map"
            class="img img-sm"
          />
        </div>
      </div>
    </div>
  </div> -->

  <div id="sec5" class="conatainer-section">
    <div class="head-container">
      <h2>Transportation & Accommodation</h2>
      <div class="img-container">
        <div class="container">
          <img src="/assets/travel_tours/TRAM2.jpg" alt="ensam" />
          <p class="text">Tram</p>
        </div>

        <div class="container">
          <img src="/assets/travel_tours/gare.jpg" alt="map" />
          <p class="text">gare</p>
        </div>

        <div class="container">
          <img src="/assets/travel_tours/taxi.jpg" alt="ensam" />
          <p class="text">taxi</p>
        </div>
      </div>
      <h3>Moving inside Rabat</h3>
      <p>To get to the Moulay Abdellah stadium, from everywhere in Rabat, one has two options:</p>

      <p>
        <span>Blue TAXIS,</span> cost 20 to 30 Dirhams, depending on the
        distance.
      </p>
      <p>
        <span>TRAM line 1,</span> direction Madinat Al Irfane (then, 10 mn
        walking distance).
      </p>
    </div>
  </div>

  <div id="sec6" class="conatainer-section">
    <h2>Access to Rabat by Air</h2>
    <p class="txt-blue">Direct Access</p>
    <p>
      Rabat Airport is accessible by daily flight from a number of European and
      Meadle East big cities, including Paris, Barcelone, Weese, Dubai, and
      others.
      Also its accessible by all most the african countries including  tunisia Egypt zambia ghana...
    </p>

    <p class="txt-blue">Access via Casablanca Airport</p>
    <p>
      Casablanca is connected to most major capitals in Europe, America, Asia
      and Africa with direct flight connection.
    </p>
    <p>
      From Casablanca Mohamed V Airport, one takes the shuttle train to get to
      Rabat city, trip duration 1h30.
    </p>
  </div>

<div class="maps">
    <div class="inputs">
      <select name="cities" id="cities">
        <option value="Rabat" selected>rabat</option>
        <option value="Casablanca">Casablanca</option>
        <option value="Tanger">Tanger</option>
        <option value="Marakech">Marakech</option>
        <option value="Fez">Fez</option>
        <option value="Agadir">Agadir</option>
      </select>
      <select name="types" id="type">
        <option value="Hotels" >Capsule</option>
        <option value="Restaurants">Restaurants</option>
        <option value="Cafe">Cafe</option>
        <option value="car rental">car rental</option>
        <option value="pharmacy">Pharmacy</option>
      </select>
      <input type="date" placeholder="date">
      <input type="time">
      <!-- <input type="number" placeholder="number of rooms"> -->
      <button id="reserve" [routerLink]="['/reservation']">reserve</button>
    </div>
    <img src="../../../assets/travel_tours/hotels_rabat.jpg" alt="maps">
</div>

  <div id="sec8" class="conatainer-section">
    <h2>Do You Need a Visa for Morocco?</h2>

    <p>
      Whether or not you need a visa for Morocco depends on your nationality. Citizens of several countries are exempt from Morocco visa requirements – which means they can travel to Morocco without having to obtain a visa beforehand. This includes the US, EU, Japan, Australia, etc. See the visa policy of Morocco below.

      
      
    </p>

    <p class="txt-blue">
      Countries whose citizens do not need visa to enter into Morocco:
    </p>
    <p>
      Morocco is a quite open country: the citizens of 70 countries are exempted
      from entry visa into Morocco.
    </p>
    <p>
      The list of countries whose citizensare exempted from entry visa is found
      here:
    </p>
    <span class="link txt-lg"
      ><a
        href="https://www.consulat.ma/en/list-countries-whose-citizens-are-exempted-entry-visa-morocco "
        >https://www.consulat.ma/en/list-countries-whose-citizens-are-exempted-entry-visa-morocco
      </a></span
    >

    <p class="bg-yellow txt-blue">
      VISA information from Ministry of Foreign Affairs of Morocco
      <span class="link"
        ><a href="https://www.consulat.ma/en/ordinary-visas"
          >https://www.consulat.ma/en/ordinary-visas</a
        ></span
      >
    </p>
  </div>

  <div id="sec9" class="conatainer-section">
    <h2>Getting Round Rabat</h2>

    <p class="txt-red txt-lg">
      RABAT, A MODERN CAPITAL WITH DEEP-ROOTED HISTORy
    </p>
    <p>
      Rabat is a cultural city deep-rooted in history. Many masterpieces
      decorate its streets and squares. Visit the Kasbah des Oudayas which is a
      majestic and splendid architecture embellished by the surrounding gardens.
      Not far from the walls, stand the imposing walls of the Chellah ; a
      necropolis from the time of the Merinids. Crossing the walls is like
      entering another world ; walk among ancient vestiges, gardens and storks.
    </p>
    <p>
      Rabat is also a modern eco-responsible capital with its green spaces.
      Beautiful parks await you, such as the botanical test garden or the Exotic
      Gardens of Bouknadel which is a few kilometres from the city. Rabat boasts
      an outstanding coastline ; on the Atlantic Ocean shores, it has kilometres
      of well equipped beaches that lead to the neighbouring city of Casablanca.
    </p>

    <p>
      With its modern infrastructures and various festivals, Rabat is a living
      city. Airport, tram, shopping centres, cafés and restaurants, all the
      amenities are within your reach. Revel in bustling vibes of music that
      Rabat celebrates like no other city; from Mawazine, to Jazz au Chellah and
      many others that fill the atmosphere with sounds and rhythms from all over
      the world !
    </p>

    <p>
      Rabat is a city where the treasures of the past blend with the most modern
      and environmentally friendly achievements.
    </p>
  </div>
  <div id="sec10" class="conatainer-section">
    <div class="menu">
      <div
        class="menu-item hover-3"
        [class.selected]="selectedContent === 'nature'"
        (click)="showContent('nature')"
      >
        Modern Rabat
      </div>
      <div
        class="menu-item hover-3"
        [class.selected]="selectedContent === 'culture'"
        (click)="showContent('culture')"
      >
        Cultural Rabat
      </div>
      <div
        class="menu-item hover-3"
        [class.selected]="selectedContent === 'beaches'"
        (click)="showContent('beaches')"
      >
        Beaches in Rabat
      </div>
      <div
        class="menu-item hover-3"
        [class.selected]="selectedContent === 'food'"
        (click)="showContent('food')"
      >
        Moroccan food
      </div>
      <div
        class="menu-item hover-3"
        [class.selected]="selectedContent === 'shopping'"
        (click)="showContent('shopping')"
      >
        Shopping in Rabat
      </div>
    </div>

    <div
      class="flex-img-column-center content"
      [hidden]="selectedContent !== 'nature'"
    >
      <h2>rabat modern Capital</h2>
      <p class="txt-full-width">
        Rabat is a modern city in Morocco known for its progressive and
        cosmopolitan atmosphere. It boasts contemporary architecture, stylish
        boutiques, and trendy cafes. With a vibrant art scene and a growing
        community of creative professionals, Rabat embraces modernity while
        preserving its rich cultural heritage. The city's modern infrastructure
        and lively ambiance make it a dynamic and exciting destination for
        visitors and residents alike.
      </p>
      <div class="img-container">
        <div class="container">
          <img src="/assets/travel_tours/mod1.jpg" alt="beach" />
          <!-- <p class="text">ENSAM RABAT </p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/mod2.jpg" alt="beach" />
          <!-- <p class="text">ICESCO SIEGE</p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/mod3.jpg" alt="beach" />
          <!-- <p class="text">ENSAM RABAT </p> -->
        </div>
      </div>
      <div class="img-container">
        <div class="container">
          <img src="/assets/travel_tours/mod4.jpg" alt="beach" />
          <!-- <p class="text">NARJISSE CLUB</p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/mod5.jpg" alt="beach" />
          <!-- <p class="text">CNSRT RABAT </p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/mod6.jpg" alt="map" />
          <!-- <p class="text">NARJISSE CLUB</p> -->
        </div>
      </div>
      <div class="link-container">
        <a target="_blank" href="https://www.visitmorocco.com/en/travel/rabat"
          ><span>more images</span> <i class="fas fa-angle-right"></i
          ><i class="fas fa-angle-right"></i
        ></a>
      </div>
    </div>
    <!-- this is modern images  -->

    <div
      class="flex-img-column-center content"
      [hidden]="selectedContent !== 'beaches'"
    >
      <h2>rabat best beaches</h2>
      <p class="txt-full-width">
        Rabat boasts beautiful beaches along its coastline. The sandy shores
        offer a tranquil escape from the bustling city. Visitors can relax on
        the golden sands, take refreshing dips in the clear blue waters of the
        Atlantic Ocean, and enjoy stunning views. The beaches in Rabat are
        popular for sunbathing, picnicking, and water sports such as surfing and
        jet skiing. With their scenic beauty and serene atmosphere, Rabat's
        beaches provide a delightful coastal experience.
      </p>
      <div class="img-container">
        <div class="container">
          <img src="/assets/travel_tours/beach1.webp" alt="ensam" />
          <!-- <p class="text">ENSAM RABAT </p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/beach2.jpg" alt="map" />
          <!-- <p class="text">ICESCO SIEGE</p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/beach3.jpg" alt="ensam" />
          <!-- <p class="text">ENSAM RABAT </p> -->
        </div>
      </div>
      <div class="img-container">
        <div class="container">
          <img src="/assets/travel_tours/beach4.webp" alt="map" />
          <!-- <p class="text">NARJISSE CLUB</p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/beach5.jpg" alt="ensam" />
          <!-- <p class="text">CNSRT RABAT </p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/beach6.jpg" alt="map" />
          <!-- <p class="text">NARJISSE CLUB</p> -->
        </div>
      </div>
      <div class="link-container">
        <a target="_blank" href="https://www.visitmorocco.com/en/travel/rabat"
          ><span>more images</span> <i class="fas fa-angle-right"></i
          ><i class="fas fa-angle-right"></i
        ></a>
      </div>
    </div>

    <div
      class="flex-img-column-center content"
      [hidden]="selectedContent !== 'food'"
    >
      <h2>discover morrocan foods</h2>
      <p class="txt-full-width">
        Moroccan cuisine is a flavorful fusion of Mediterranean, Arabic, and
        Berber influences. Known for its aromatic spices, tagines, and couscous,
        Moroccan food tantalizes the taste buds with a perfect balance of sweet
        and savory flavors. From savory dishes like lamb tagine with apricots to
        sweet treats like honey-soaked pastries, Moroccan cuisine offers a
        culinary journey that is rich in tradition and diverse in its offerings.
      </p>
      <div class="img-container">
        <div class="container">
          <img src="/assets/travel_tours/gateau.jpg" alt="beach" />
          <!-- <p class="text">ENSAM RABAT </p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/food2.png" alt="beach" />
          <!-- <p class="text">ICESCO SIEGE</p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/fish.jpg" alt="beach" />
          <!-- <p class="text">ENSAM RABAT </p> -->
        </div>
      </div>
      <div class="img-container">
        <div class="container">
          <img src="/assets/travel_tours/food4.jpg" alt="beach" />
          <!-- <p class="text">NARJISSE CLUB</p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/food5.jpg" alt="beach" />
          <!-- <p class="text">CNSRT RABAT </p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/food6.webp" alt="map" />
          <!-- <p class="text">NARJISSE CLUB</p> -->
        </div>
      </div>
      <div class="link-container">
        <a
          target="_blank"
          href="https://www.visitmorocco.com/en/travel-info/food-drinks"
          ><span>more images</span> <i class="fas fa-angle-right"></i
          ><i class="fas fa-angle-right"></i
        ></a>
      </div>
    </div>
    <!-- this is food images  -->

    <div
      class="flex-img-column-center content"
      [hidden]="selectedContent !== 'culture'"
    >
      <h2>rabat culture</h2>
      <p class="txt-full-width">
        Rabat, the capital of Morocco, is a culturally rich city blending
        traditional Moroccan heritage with modern influences. Explore the
        historic medina, visit landmarks like the Kasbah of the Udayas, and
        discover museums showcasing art and craftsmanship. Experience vibrant
        music festivals, savor delicious Moroccan cuisine, and witness the
        fusion of old and new in this captivating cultural destination.
      </p>
      <div class="img-container">
        <div class="container">
          <img src="/assets/travel_tours/cul4.webp" alt="beach" />
          <!-- <p class="text">ENSAM RABAT </p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/cul5.jpeg" alt="beach" />
          <!-- <p class="text">ICESCO SIEGE</p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/cul6.jpeg" alt="beach" />
          <!-- <p class="text">ENSAM RABAT </p> -->
        </div>
      </div>
      <div class="img-container">
        <div class="container">
          <img src="/assets/travel_tours/cul1.jpg" alt="beach" />
          <!-- <p class="text">NARJISSE CLUB</p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/cul8.jpg" alt="beach" />
          <!-- <p class="text">CNSRT RABAT </p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/cul7.jpg" alt="map" />
          <!-- <p class="text">NARJISSE CLUB</p> -->
        </div>
      </div>
      <div class="link-container">
        <a target="_blank" href="https://www.visitmorocco.com/en/travel/rabat"
          ><span>more images</span> <i class="fas fa-angle-right"></i
          ><i class="fas fa-angle-right"></i
        ></a>
      </div>
    </div>
    <!-- this is cluture images  -->

    <div
      class="flex-img-column-center content"
      [hidden]="selectedContent !== 'shopping'"
    >
      <h2>rabat shopping</h2>
      <p class="txt-full-width">
        Rabat offers a diverse shopping experience, blending traditional souks
        with modern malls. In the vibrant souks of the medina, shoppers can
        immerse themselves in a maze of narrow alleys filled with stalls selling
        traditional crafts, textiles, spices, and more. Bargaining is a common
        practice here. For a more contemporary shopping experience, Rabat's
        modern malls provide a range of international and local brands, along
        with restaurants and entertainment options. Whether you seek the charm
        of traditional markets or the convenience of modern shopping, Rabat
        caters to every shopper's preference.
      </p>
      <h2 class="head-shop">modern markets</h2>

      <div class="img-container">
        <div class="container">
          <img src="/assets/travel_tours/shop5.jpeg" alt="beach" />
          <!-- <p class="text">ENSAM RABAT </p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/shop2.jpg" alt="beach" />
          <!-- <p class="text">ICESCO SIEGE</p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/mall.webp" alt="beach" />
          <!-- <p class="text">ENSAM RABAT </p> -->
        </div>
      </div>
      <h2 class="head-shop">traditional markets (Souk)</h2>

      <div class="img-container">
        <div class="container">
          <img src="/assets/travel_tours/shop4.jpg" alt="beach" />
          <!-- <p class="text">NARJISSE CLUB</p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/shop1.jpg" alt="beach" />
          <!-- <p class="text">CNSRT RABAT </p> -->
        </div>

        <div class="container">
          <img src="/assets/travel_tours/shop6.jpg" alt="map" />
          <!-- <p class="text">NARJISSE CLUB</p> -->
        </div>
      </div>
      <div class="link-container">
        <a target="_blank" href="https://www.visitmorocco.com/en/travel/rabat"
          ><span>more images</span> <i class="fas fa-angle-right"></i
          ><i class="fas fa-angle-right"></i
        ></a>
      </div>
    </div>
    <!-- this is shooping images  -->
  </div>

  <div id="sec11" class="conatainer-section">
    <h2 class="txt-red">RESTAURANTS IN RABAT</h2>
    <p class="center">The restaurants list will be inserted later</p>

    <!-- <h3 class="txt-blue txt-lg">Restaurants in Hay Riad area</h3>
      <p>Restaurant La Cuchara, 05375-63555</p>
  
      <p class="txt-red">
        you can found the rest of restaurants by clicking the link below
      </p>
      <a
        href="https://www.google.com/search?q=restaurants+rabat+hay+riad+&rlz=1C1GCEB_enFR926FR926&sxsrf=APwXEdeqOXuOl4GQH9NPHIm8zx9CpHaC2Q%3A1680387152764&ei=UKwoZJ2oLpTZkdUP49WUgAM&ved=0ahUKEwidkM362Yn-AhWUbKQEHeMqBTAQ4dUDCA8&uact=5&oq=restaurants+rabat+hay+riad+&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgcIABCKBRBDOgUIABCABDoICAAQgAQQywE6CggAEIoFEMkDEEM6CggAEIoFEJIDEEM6CAgAEIAEEJIDSgQIQRgAUABY5j9g101oAHABeACAAb0NiAH5LJIBDzAuNi40LTEuMS4wLjIuMZgBAKABAaABAsABAQ&sclient=gws-wiz-serp"
        >for more restaurants click here !</a
      >
  
      <h3 class="txt-blue txt-lg">Restaurants in Agdal area</h3>
      <p>Two Brothers Restaurant Rabat</p>
      <a
        href="https://www.google.com/search?q=restaurants+rabat+agdal&rlz=1C1GCEB_enFR926FR926&sxsrf=APwXEdfLpbcGG44ytv76KAawlLmaC35tLA%3A1680387500486&ei=rK0oZL2sHcSakdUP3-O1uA8&ved=0ahUKEwi9srSg24n-AhVETaQEHd9xDfcQ4dUDCA8&uact=5&oq=restaurants+rabat+agdal&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIFCAAQgAQyBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB46CggAEEcQ1gQQsAM6CAgAEBYQHhAPSgQIQRgAUP4EWIgOYLQaaAFwAXgAgAF4iAHJBJIBAzAuNZgBAKABAcgBCMABAQ&sclient=gws-wiz-serp "
        >for more restaurants click here !</a
      >
  
      <h3 class="txt-blue txt-lg">Restaurants in City center</h3>
      <p>Il Giardino</p>
      <p class="txt-red">
        you can find the rest of the hotels by clicking the link below
      </p>
      <a
        href="https://www.google.com/search?rlz=1C1GCEB_enFR926FR926&tbs=lf:1,lf_ui:9&tbm=lcl&sxsrf=APwXEddWmmxM7BmWbjeJaFQOpxYahN-gqg:1680388506933&q=restaurants+rabat+centre+ville&rflfq=1&num=10&sa=X&ved=2ahUKEwjCiKmA34n-AhVHRqQEHcj4A5gQjGp6BAgREAE&biw=1386&bih=718&dpr=1.25#rlfi=hd:;si:;mv:[[34.04753661466767,-6.752067025594024],[33.967421042506196,-6.917891915730743">for
        more hotels click here !</a>
    </div> -->
  </div>
</div>
