<footer class="footer">
    <div class="footer-container">
      <nav class="footer-item">
        <a [href]="baseUrl+'about#'" class="head-item">About</a>
        <a [href]="baseUrl+'about#sec1'" class="item-element">Greetings</a>
        <a [href]="baseUrl+'about#sec2'" class="item-element">About IFAC</a>
        <a [href]="baseUrl+'about#sec3'" class="item-element">National Organizing Committee</a>
        <a [href]="baseUrl+'about#sec4'" class="item-element">International Program Committee</a>
        <a [href]="baseUrl+'about#sec5'" class="item-element">Contact</a>
      </nav>
      <nav class="footer-item">
        <a [href]="baseUrl+'submission#'" class="head-item">Submission</a>
        <a [href]="baseUrl+'submission#sec1'" class="item-element">Call for Contributions</a>
        <a [href]="baseUrl+'submission#sec2'" class="item-element">Types of Contributions</a>
        <a [href]="baseUrl+'submission#sec3'" class="item-element">Submit a Contribution</a>
        <a [href]="baseUrl+'submission#sec4'" class="item-element">Submit Final Manuscript</a>
        <a [href]="baseUrl+'submission#sec5'" class="item-element">Copyright Conditions</a>
        <a [href]="baseUrl+'submission#sec6'" class="item-element">IFAC CPES Author Award</a>
      </nav>
      <nav class="footer-item">
        <a [href]="baseUrl+'program#'" class="head-item">Program</a>
        <a [href]="baseUrl+'program#sec1'" class="item-element">CPES 2024 Topics</a>
        <a [href]="baseUrl+'program#sec2'" class="item-element">Plenary Talks</a>
        <a [href]="baseUrl+'program#sec3'" class="item-element">Competition</a>
      </nav>
      <nav class="footer-item">
        <a [href]="baseUrl+'registration#'" class="head-item">Registration</a>
      </nav>
      <nav class="footer-item">
        <a [href]="baseUrl+'travel&tours#'" class="head-item">Travel & Tours</a>
        <a [href]="baseUrl+'travel&tours#sec1'" class="item-element">Venue</a>
        <a [href]="baseUrl+'travel&tours#sec2'" class="item-element">Transportation & Accommodation</a>
        <a [href]="baseUrl+'travel&tours#sec3'" class="item-element">Visa & Travel Documents</a>
        <a [href]="baseUrl+'travel&tours#sec4'" class="item-element">Getting Round Rabat</a>
      </nav>
      <nav class="footer-item">
        <a [href]="baseUrl+'sponsors#'" class="head-item">Sponsors and Exhibitors</a>
        <a [href]="baseUrl+'sponsors#sec1'" class="item-element">Organizers</a>
        <a [href]="baseUrl+'sponsors#sec2'" class="item-element">Academic co-Organizers</a>
        <a [href]="baseUrl+'sponsors#sec3'" class="item-element">Industrial Sponsors </a>
        <a [href]="baseUrl+'sponsors#sec4'" class="item-element">Institutionnal  sponsors</a>
      </nav>
      <nav class="footer-item">
        <a [href]="baseUrl+'practical_information#'" class="head-item">Practical Information</a>
      </nav>
      <nav class="footer-item">
        <a [href]="baseUrl+'FAQ'" class="head-item">FAQ</a>
      </nav>
    </div>
    <div class="sub-footer">
      <div class="social-media">
        <i class="ri-instagram-line social"></i>
        <i class="ri-facebook-fill social"></i>
        <i class="ri-twitter-line social"></i>
      </div>
      <div class="copyright">© Copyright 2024 - 2025</div>
    </div>
  </footer>
  