<div class="app-header">
    <app-header title="Greeting" />
  </div>
  <div class="container">
    <div class="container">
        
        <div class="about-cpes">
          <p>On behalf of the National Organizing Committee, it is our utmost pleasure to extend a warm welcome to all participants attending the prestigious CAN 2025, which will take place in Morocco. The 35th edition of the African Cup of Nations promises to be an exceptional tournament held in the vibrant setting of our country. </p>
          <p>CAN 2025 represents an exhilarating opportunity to unite football enthusiasts from across the globe. Morocco, known for its rich cultural heritage and breathtaking landscapes, will serve as the ideal backdrop for this grand sporting event. </p>
          <p>As the tournament unfolds, participants will not only experience the thrill of competitive football but also have the chance to explore the beauty of our host cities. Morocco, a land of diverse landscapes and historical wonders, offers an enchanting blend of ancient traditions and modern allure.</p>
          <p>The tournament venues, renowned for their state-of-the-art facilities, will provide an immersive experience for all attendees. The vibrancy of our cities, the warmth of our people, and the passion for football that runs deep in our culture will undoubtedly make CAN 2025 an unforgettable event.</p>
          <p>We are committed to ensuring that CAN 2025 exceeds expectations, and we eagerly anticipate welcoming you to Morocco for a celebration of football excellence in 2025!</p>
        </div>
      </div>
  
    </div>
  