.container{
    margin: 64px 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1.5fr 1fr;
    margin: 8px;
    overflow: hidden;
    border-radius: 4px;
}

.grid-item{
    min-height: 20vh;
}

.grid-item:nth-child(1){
    grid-row: span 2;


}

.grid-text{
    padding: 16px 32px;
    text-align: justify;
    color: #0c0f1b;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 30px;
}

.grid-item:nth-child(2){
    height: 60vh;
}

.video-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.video{
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    border-radius: 16px;
    box-shadow: rgba(145, 174, 183, 0.4) 0px 0px 0 4px, rgba(127, 153, 168, 0.3) 0px 0px 0 8px, rgba(115, 153, 175, 0.2) 0px 0px 0 12px, rgba(128, 156, 170, 0.1) 0px 0px 0 16px, rgba(108, 139, 152, 0.05),0px 0px 0 20px;
}

.grid-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4px;
    overflow: hidden;
    margin: 45px;
}

.contaier-image{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("../../../../assets/img/home/1.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .3s ease-in-out;
    overflow: hidden;
}

.img-1{
  background-image: url("../../../../assets/img/Spensor/1.png");
}

.img-2{
  background-image: url("../../../../assets/img/Spensor/2.png");
}

.img-3{
  background-image: url("../../../../assets/img/Spensor/3.jpg");
}

.img-4{
  background-image: url("../../../../assets/img/Spensor/4.png");
}

.img-5{
  background-image: url("../../../../assets/img/Spensor/5.png");
}

.img-6{
  background-image: url("../../../../assets/img/Spensor/6.png");
}

.img-7{
  background-image: url("../../../../assets/img/Spensor/7.png");
}

.img-8{
  background-image: url("../../../../assets/img/Spensor/8.png");
}

.img-9{
  background-image: url("../../../../assets/img/Spensor/9.jpg");
}

.img-10{
  background-image: url("../../../../assets/img/Spensor/1.png");
}

.contaier-image:hover::before{
    filter: blur(10px);
    background-color: #ffffff6e;
}


.contaier-image:hover> span{
    color: var(--clr-pri-drk);
    font-size: 25px;
    transition: .4s ease-in-out;
    font-weight: bold;
}

.contaier-image::before{
    content: '';
    filter: blur(8px);
    position: absolute;
    text-align: center;
    background-color: #0c0f1b72;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transform: scale(1.5);
    transition: .3s ease-in-out;

}

.contaier-image > span{
    color: #fff;
    z-index: 1;
    font-family: var(--f-bold);
    font-size: 24px;
    font-weight: bold;

}

.sp{
    background-image: url("../../../../assets/img/energy1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.void{
    background-color: #fff;
    box-shadow: rgb(255 255 255 / 57%) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 5px 6px;
    /* border-radius: 8px; */
}



/**/

.container{
  width: 90vw;
  margin: auto;
}


img{
  width: 20vw;
  height: 90vh;
  object-fit: cover;
}


p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  color: #2e2e2e;
}

a{
  transition: .3s ease-in-out;
  text-decoration: underline;
}

a:hover{
  text-decoration: none;
  color: var(--clr-pri-drk);
}

.about-cpes{
  text-align: start;
  padding-bottom: 25px;
}

h1{
  text-align: center;
  color: gray;
  font-weight: 300;
  font-size: .8em;
}


.cont {
  padding-block-end: 2em;
  margin-top: 24px;
}

.card {
  margin-inline: auto;
  width: 69%;
  padding: 1.25rem 4rem 1.875rem;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.p-cont{
  margin-bottom: 8px;
}


.p-cont > p{
  text-align: center;
  font-size: 16px;
  color: #2e2e2e;
  font-family: var(--f-base);
}


.section-category{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-item{
  position: relative;
  flex: 1;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.section-item::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #202c4487;
}

.section-item>span{
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
  color: var(--clr-bg);
  z-index: 1;
  transition: .3s ease-in-out;
}


.responsive-map-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

iframe{
  width: 60vw;
}

.about-cpes p{
  text-align: justify;
}
