<div class="app-header">
    <app-header title="Greeting" />
  </div>
  <div class="container">
    <div class="container">
        
        <div class="about-cpes">
          <p>On behalf of the National Organizing Committee, we would like to sincerely welcome all of you to the 12th IFAC
            Symposium on Control of Power and Energy Systems, that will be held in 2024, in Rabat, Morocco. CPES 2024 is
            organized under the auspices of <a href="https://www.ifac-control.org/">the International Federation of Automatic
              Control - IFAC</a>. </p>
          <p>In addition to meeting renowned scholars and practitioners from all over the world, CPES 2024 will offer to all
            attendees the possibility to discover a wonderful city, Rabat, and fascinating country, Morocco. </p>
          <p>Rabat is more than worth your attention – a city where tranquility and discretion go hand in hand with
            sophistication and the art of good living. A resolutely modern town that has nonetheless preserved all its
            authenticity, its historical heart combines elegantly with its modernity. A beautiful city justifiably proud of
            its heritage, Rabat lives and breathes among wide boulevards and luxuriant parks. It is the country’s political
            and administrative center and its seat of government, containing the royal palace and the embassies to the
            Kingdom, and the many fine edifices that adorn it bear magnificent witness to a history reaching back into
            Antiquity.
            Rabat is only 2 hours by train from Fes and 3 hours from Marrakech, both worldwide famous touristic cities.
          </p>
          <p>The symposium venue, the ENSAM of Rabat, is located at Riad area, the modern part of the city, right in front of
            beautiful building hosting ICESCO’s, CNRST and other national and international organizations. Some symposium
            sessions might be held in ICESCO’s and/or CNRST halls. The venue is also just a few minutes walking from Annakhil
            boulevard, a quite modern and vibrant street containing a big number of restaurants, cafés, and other
            entertainments.
            The NOC team will do everything possible to make CPES 2024 an exciting event and very much look forward to seeing
            all of you in Rabat, Morocco, in 2024
          </p>
        </div>
      </div>
  
    </div>
  