<app-scaffold [sectionsInfo]="secIds" [breadCrumbLinkNames]="breadCrumbLinkNames" [title]="'Guidance'" [headerBackgroundImage]="'../../assets/head/info.jpg'">
    <div id="sec1">
      <h1>{{secIds[0].title}}</h1>
      <p>
        The official language of the Conference is English. Simultaneous translation will not be provided.
      </p>
    </div>
  
    <!-- <div id="sec2">
      <h1>{{secIds[1].title}}</h1>
      <p>
        All the registered participants will receive a personal badge upon registration and are requested to wear it when
        attending the sessions or any social event.
      </p>
    </div> -->
  
    <div id="sec2">
      <h1>{{secIds[1].title}}</h1>
      <p>
        Participants are kindly requested to switch-off their mobile phones or to adopt the silent mode during all
        presentations.
      </p>
    </div>
    <div id="sec3">
      <h1>{{secIds[2].title}}</h1>
      <p>
        The Organizing Committee of the Conference shall not accept any responsibility
        for the individual medical, travel, or personal insurance for the attendence 
        in the Conference. All the participants are strongly advised to obtain a personal
        insurance before attending the Conference. The Organizing Committee will not be
        responsible for the loss or damage of the participants' personal belongings.
      </p>
    </div>
    <div id="sec4">
      <h1>{{secIds[3].title}}</h1>
      <p>
        The Organizer Committee does not accept liability for any damage and/or loss
        that may be incurred by a conference participant during the activities of the
        conference or the social activities connected with the conference. The participants
        take parts in all events connected with the conference at their own risk.
        Participants are advised to charge any loss or damage they may incur during
        the conference or the travel to and from the conference location to their insurance.
      </p>
    </div>

    <div id="sec5">
      <h1>{{secIds[4].title}}</h1>
      <p>
        Banks are open from Monday to Friday from 08.30 to 14.30. Banks are closed on Saturday and Sunday. Many banks have
        automatic currency exchange machines that also take credit cards. Most hotels, restaurants and shops accept major
        credit cards.
      </p>
    </div>
    <div id="sec6">
      <h1>{{secIds[5].title}}</h1>
      <p>
        The opening time of the Post offices are: Monday to Friday, from hrs 08.30 to 16.00.
      </p>
    </div>
    <div id="sec7">
      <h1>{{secIds[6].title}}</h1>
      <p>
        Voltage is 230V, 50 Hz. Plugs have two or three round pins. Foreign voltage could require an adapter.
      </p>
    </div>
    <div id="sec8">
      <h1>{{secIds[7].title}}</h1>
      <ul>
        <li> 	Ambulance: 150.</li>
        <li>Police: 190.</li>
        <li>From Smartphone : 112.</li>
        <li>Medical emergency : 0522 25 25 25.</li>
        <li>Fire Brigade: 180.</li>
        <li> 	Moroccan phone code is: +212.</li>
      </ul>
    </div>
  </app-scaffold>
  